<html>
<head>
    <title>
        {{ site_name }}
    </title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/9fc8c39f64.css">


    <script>

        function HVSTATUS( span) {
            fetch( location.protocol + '//' + location.host + '/api?list=HVStatus')
            .then((res) => res.json())
            .then((data) => list(data));
            oname = ''
            function list( data ) {
                status = `<div class="divTable">
                              <div class="divTableBody"> <h2 style="text-align: center;">Статус системы</h2>`
                for(var i = 0; i < data.length; i++) {
                    //console.log(i)
                    name = data[i].name
                    aname = name.split('.')
                    nname = aname[0]
                    //console.log('|' + nname + '| : |' + oname + '|')                    
                    if ( nname != oname ) {
                        console.log('|' + nname + '| : |' + oname + '|')
                        status += '</div></div><br><div class="divTable"><div class="divTableBody">'
                        name = '<h3>' + name.replace('.','</h3>').replace('_',' ') + ' '
                    } else {
                        name = name.replace(nname + '.','')
                    }
                    oname = nname
                    value = data[i].value
                    var json = JSON.stringify(data[i].value);
                    //console.log(json)
                    status += `${name} = <b>${value}</b> `
                }
            status += '</div></div>'
            document.getElementById(span).innerHTML = status
            status = ''
            }
        //console.log(span)
        //setInterval("HVSTATUS('" + span + "')", 5000);
        }

        
	function GETCFG(name, span) {
            fetch( location.protocol + '//' + location.host + '/api?list=CFG&name=' + name)
            .then((res) => res.json())
            .then((data) => list(data));
            function list( data ) {
                //console.log(data.length)
                for(var i = 0; i < data.length; i++) {
                    document.getElementById(span).innerHTML = data[i]['value'] 
                }
            }
	}

	function POWERVM(act, id, span) {
	    //console.log(act + ' : ' + id + ' : ' + span)

            document.getElementById(span).innerHTML = `<img width="40" height="30" src="/static/load.gif"></img>`
            fetch( location.protocol + '//' + location.host + '/api?get=' + act + '&id=' + id)
            .then((res) => res.json())
            .then((data) => action(data));
            function action({ id, act }) {
                    //document.getElementById(span).innerHTML = 'Жду ответа: ' + id + ' : ' + act
                    //console.log("Привет");
                    setTimeout(() => { LISTVM(span); }, 2000);
                    //LISTVM(span);
                    //LISTVM(span)
                    //window.location.reload();
            }
	}

        function LISTVM( span) {
            document.getElementById(span).innerHTML = `<img width="40" height="30" src="/static/load.gif"></img>`
            //document.getElementById(span).innerHTML = 'Подождите...'
            fetch( location.protocol + '//' + location.host + '/api?list=VMS')
            .then((res) => res.json())
            .then((data) => list(data));
            function list( listvm ) {
                if (listvm.length == 0 ) {
                    document.getElementById(span).innerHTML = "каПУСТО!!!"
                    return 'o'
                    //console.log('None')
                }
                list = `
                    <div class="divTable">
                        <div class="divTableBody">
                        `
                for(var i = 0; i < listvm.length; i++) {
                    //console.log(i)
                    //console.log(i + ' : ' + listvm[i]['id'] + ' : ' + listvm[i]['name'])
                    vm = listvm[i]
                    //console.log(vm)
                    id = vm.id
                    name = vm.name
                    config = vm.config
                   
                    for(var e = 0; e < config.length; e++) {
                        for (var key in config[e]) {
                            namer = key;
                            valuer = vm.config[e][key];
                            if ( namer == '-snapshot') { 
                                if ( valuer == 'none') {
                                    color = '#303030;'
                                    if ( vm.status == 0 ) {
                                        SSSTATUS = `<button onClick="SNAPSHOT('${span}','${id}')"><i class="fa fa-unlock" aria-hidden="true"></i> Выкл</button>`
                                    } else {
                                        SSSTATUS = `<i class="fa fa-unlock" aria-hidden="true"></i> Выкл`
                                    } 

                                    //console.log('SNAPSHOT MODE IS OFF')
                                }
                                else
                                {
                                    color = '#dd2b0e;'
                                    if ( vm.status == 0 ) { 
                                        SSSTATUS = `<button style="color: #dd2b0e;" onClick="SNAPSHOT('${span}','${id}')"><i class="fa fa-unlock-alt" aria-hidden="true"></i> Вкл</button>`
                                    } else {
                                        SSSTATUS = `<i class="fa fa-unlock-alt" aria-hidden="true"></i> Вкл`
                                    }



                                    //console.log('SNAPSHOT MODE IS ON')
                                }
                            }
                        }
                        //console.log(id)
                        //console.log(name + ' : ' + value)
                        //config += '<div>' + name + ' : '
                        //config += value + ` <span id="${name}"><button onClick="GETCFG('${name}','${span}')">***</button></span>`
                    }

                    //console.log(config[0]["-m"])
                    if ( vm.status == 0 ) {
                        status = `<button onClick="POWERVM('start', '${id}', '${span}')"><i class="fa fa-play" aria-hidden="true"></i> Запустить</button>`
                    } else {
                        status = `<button onClick="POWERVM('stop', '${id}', '${span}')"><i class="fa fa-stop" aria-hidden="true"></i> Остановить</button>
                                  <button onclick="window.open( location.protocol + '//' + location.host + '/vnc/vnc_lite.html?path=ws%3Ftoken=${id}', '_blank');"><i class="fa fa-desktop" aria-hidden="true"></i></button>`
                    }

                    //cfgg = config.id
                    del = vm.del
		    
                    list += `
                        <div class="divTableRow" style="color:${color};">
                            <div class="divTableCell">${ name } (${ id })</div>
                            <div class="divTableCell">${ status }</div>
                            <div class="divTableCell">Режим снапшот: ${SSSTATUS}</span></div>
                            <div class="divTableCell"><button onClick="CONFIGVM('${span}','${id}')"><i class="fa fa-sliders" aria-hidden="true"></i> Конфигурация</button></div> 
                            <div class="divTableCell"><button onClick="if (confirm('Вы действительно хотите удалить выбранную ВМ?')) DELVM('${span}' ,'${id}')"><i class="fa fa-trash" aria-hidden="true"></i> Удалить</button></div>
                            <div class="divTableCell"><span id="CONF-${id}"></span></div>
                        </div>
                    `



                }
                list += `
                    </div>
                </div>`
                document.getElementById(span).innerHTML = list
                //console.log('::::' + config)



            }
        }

        function SNAPSHOT(span, id ) { 
            //document.getElementById(span).innerHTML = 'Подождите...'
            fetch( location.protocol + '//' + location.host + '/api/set?status=SNAPSHOT&id=' + id)
            .then((res) => res.json())
            .then((data) => delvm(data));
            function delvm( {act} ) {
                //console.log(act)
                //alert(act)
                LISTVM(span)
                //document.getElementById(span).innerHTML = "Deleted"
            }            
        }

//////////////////////// Получение конфигурации ВМ //////////////////

        function CONFIGVM(span, id) {
            document.getElementById(span).innerHTML = `<img width="40" height="30" src="/static/load.gif"></img>`
            fetch( location.protocol + '//' + location.host + '/api?list=VMCFG&id=' + id)
            .then((res) => res.json())
            .then((data) => cfg(data));

            function cfg( data ) {
                vmname = data[0]['name']
                cfg = `<div id="VMNAME">
                           <b>${vmname}</b>
                               <button onClick="EDITNAMEVM('VMNAME','${vmname}','${id}')">
                                   <i class="fa fa-pencil" aria-hidden="true"></i>
                               </button>
                       </div>
                       <hr>
                       <div>`
                config = data[0]['config']
                for(var e = 0; e < config.length; e++){
                    for (var key in config[e]) {
                       name = key;
                       value = config[e][key];
                    }
                    console.log(name + ' : ' + value)
                    cfg += `<div id="${e}"> ${name} : ${value} 
                                <button onClick="EDITCONFIGVM( '${e}', '${id}', '${name}', '${value}', '${span}')">
                                    <i class="fa fa-cogs" aria-hidden="true"></i>
                                </button>
                            </div>`
                }
                cfg += `</div>`
                document.getElementById(span).innerHTML = cfg
            }
	}

	function EDITNAMEVM(span, name, id) {
             ename =  `
                 <input id="VMNAME2" value="${name}" type="text"></input>
                 <button onClick="SAVENAME('${id}')">
                     <i class="fa fa-floppy-o" aria-hidden="true"></i>
                 </button>
                      `
	     document.getElementById(span).innerHTML = ename
	}

	function SAVENAME(id) {
            name = document.getElementById('VMNAME2').value
            console.log(id + ' : ' + name)
            fetch(location.protocol + '//' + location.host + '/api?add=savevmname',
                {
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                method: "POST",
                body: JSON.stringify({
                    id: id,
                    name: name,
                    })
                })
            .then((res) => res.json())
            .then((data) => result(data));

            function result( data ) {
                console.log(data.id)    
                CONFIGVM('LAND', data.id )
                }
	}



	function EDITCONFIGVM( spann, vmid, name, value, span) {
            fetch( location.protocol + '//' + location.host + '/api?list=CFG&name=' + name)
                .then((res) => res.json())
                .then((data) => list( data ));

                function list( data ) {
                    obj2= name + ' : <select id="elem-' + spann + '">'
                    for(var t = 0; t < data.length; t++) {
                        if (data[t]['value'] == value) {
                            obj2 += '<option selected="selected">' + data[t]['value'] + '</option>'
                        } else {
                            obj2 += '<option>' + data[t]['value'] + '</option>'
                        }
                    }
                    obj2 += `</select><button onClick="EDITCONFIG('${vmid}', '${name}', '${value}', document.getElementById('elem-${spann}').value), '${span}'"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>`
                    document.getElementById( spann ).innerHTML = obj2
                }
            
	    console.log(name + ' : ' + value)
	}

///////////////////

	function EDITCONFIG( vmid, name, value, oldvalue, span) {
            if (value != oldvalue) {
                console.log( vmid + ' _ ' + name + ' _ ' + value + ' _ ' + oldvalue)
                fetch(location.protocol + '//' + location.host + '/api?add=update',
                    {
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    method: "POST",
                    body: JSON.stringify({
                        vmid: vmid,
                        name: name,
                        value: value,
                        oldvalue: oldvalue
                        })
                    })
                .then((res) => res.json())
                .then((data) => result(data));
                function result( data ) {
                    document.getElementById( 'LAND' ).innerHTML = `
                        Успешно создано:
                        ${data['cfgname']}
                        <br>
                        ${data['cfgvalue']}
                        <br>
                        <button onClick="CREATECFG('CREATECFG','1');">CREATE CFG</button>
                        `
                        CONFIGVM('LAND',vmid)
                }




            } else {
                //LISTVM(span)
                //CONFIGVM(span, vmid)
                console.log('not change!')
            }
	}


        function DELVM( span, id ) {
            document.getElementById(span).innerHTML = 'Подождите...'
            fetch( location.protocol + '//' + location.host + '/api?del=vms&id=' + id)
            .then((res) => res.json())
            .then((data) => delvm(data));
            function delvm( {result} ) {
                LISTVM(span)
                //document.getElementById(span).innerHTML = "Deleted"
            }

        }

        function CREATECFG( span, step, name, value) {
            if ( step == '2') {
                fetch(location.protocol + '//' + location.host + '/api?add=CFG',
                    {
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    method: "POST",
                    body: JSON.stringify({
                        name: name,
                        value: value
                        })
                    })
                .then((res) => res.json())
                .then((data) => result(data));
                function result( data ) {
                    document.getElementById( span ).innerHTML = `
                        Успешно создано:
                        ${data['cfgname']}
                        <br>
                        ${data['cfgvalue']}
                        <br>
                        <button onClick="CREATECFG('CREATECFG','1');">CREATE CFG</button>
                        `
                        LISTCFG(span)
                }

                //create = ``
                //document.getElementById( span ).innerHTML = create
            }

            if ( step == '1') {
                create = `
                    <div>
                        <div>Имя: <input id="CFGNAME" type="text"></input></div>
                        <div>Значение: <input id="CFGVALUE" type="text"></input></div>
                        <div><button onClick="CREATECFG('${span}', '2', document.getElementById('CFGNAME').value, document.getElementById('CFGVALUE').value);">Добавить</button></div>
                    </div>
                `
                document.getElementById( span ).innerHTML = create

            }
        }


        function GETCFGVM(span) {
            fetch( location.protocol + '//' + location.host + '/api?list=CFG&name=vmcfg')
            .then((res) => res.json())
            .then((data) => list(data));
            function list( data ) {
                //console.log(data.length)
                lst = data[0]['value'].split(",");
                conf = `<div class="divTable">
                            <div class="divTableBody">`

                //but='<button onClick="CRTVM('
                butt = ''
                for(let i = 0; i < lst.length; i++) {

                    //but += ` document.getElementById('el` + lst[i].replace(' ','') + `',).value,`
                    butt += 'el' + lst[i].replace(' ','') + '@' + i + ', '

                    var obj = lst[i].replace(/\s+/g, '')
                    //console.log(obj)
                    conf += `<div class="divTableRow">
                                 <div class="divTableCell" style="padding: 2px; text-align: right;">
                                     <span>${obj.replace("-","")}</span>
                                 </div>
                                 <div class="divTableCell">
                                     <span id="n${obj}@${i}">[${ obj }]</span>
                                 </div>
                             </div>`
                    fetch( location.protocol + '//' + location.host + '/api?list=CFG&name=' + obj)
                    .then((res) => res.json())
                    .then((data) => list(data, i));
                    //console.log(i)


                    function list( data ) {
                        obj2='<select id="el' + data[0]['name'] + '@' + i + '">'
			for(var t = 0; t < data.length; t++) {
                            obj2 += '<option>' + data[t]['value'] + '</option>'
			    //console.log(data[t]['value'])
                            span2 = 'n' + data[t]['name']
                            //document.getElementById( span2 ).innerHTML = obj2
			}
                        //console.log(obj2)
                        //console.log(span2 + i)
                        document.getElementById( span2 + '@' + i ).innerHTML = obj2 + '</select>'                        
                    }

                    //console.log(i)
                }

                conf += `


                        </div>
                    </div>
                    <button onClick="CREATEVMCFG('` + span + `', '` + butt + `')">Далее</button>
                    `

		document.getElementById( span ).innerHTML = conf
                //GETHDD('HDD');


            }
        }

        function CREATEVMCFG(span, lst) {
            console.log(lst)
            list = lst.split(",")
            cfg=[];
            for(var i=0; i < (list.length - 1 ); i++) {
                elem = list[i].replace(' ','')
                name = elem.replace('el','').split('@')[0];
                value = document.getElementById(elem).value
                str = { name : name, value : value }
                console.log(name)
                cfg.push(str)
            }
            //console.log(cfg)

            fetch(location.protocol + '//' + location.host + '/api?add=CREATEVMCFG',
                {
                headers: {
                   'Accept': 'application/json',
                   'Content-Type': 'application/json'
                },
                method: "POST",
                body: JSON.stringify(cfg)
                })
            .then((res) => res.json())
            .then((data) => result(data));

            function result( data ) {
               if(data['result'] == true) {
                   CREATENAMEVM(span, data['vmid'])
               //    document.getElementById( span ).innerHTML = `
               //    ID: ${id}
               //     
               //`
                        //LISTCFG(span)
               } else {
                   document.getElementById( span ).innerHTML = 'Error'
               }
            }
        }


        function CREATENAMEVM(span, id) {
            n=1
            document.getElementById( span ).innerHTML = `
                <div>VMID: ${id}</div>
                <div>Название: <input id="newvmname-${id}" /></div>
<!--                <button onClick="SELECTIMG('HDD', '${n}');console.log(n); n++;">Добавить жесткий диск</button>-->
                <div id="nn"><span id="nnu"></span></div>
                <div id="HDD-1"><button onClick="SELECTIMG('HDD','${n}');">Добавить жесткий диск</button></div>
                <div><button onclick="CREATEVM('${span}','${id}')">Запилить</button></div>
            `



	}

	function SELECTIMG (span, n) {
            fetch(location.protocol + '//' + location.host + '/api?list=IMAGES-FREE')
            .then((res) => res.json())
            .then((data) => result(data));
            s = 0;
            function result( data ) {

                    obj2=`IMAGE (vHDD): <select id="addimgid-${n}">`

                    for(var t = 0; t < data.length; t++) {
                       obj2 += '<option value="' + data[t]['id'] + '">' + data[t]['file'] + '</option>'
                       span2 = 'n' + data[t]['file']
                    }
                    s = s + 1

                    obj2 += `</select>
                          <div id="${span}-${n + 1}">
                              <button onClick="SELECTIMG('${span}','${ n + 1 }');">Добавить жесткий диск</button>
                          </div>`
                    document.getElementById( 'nnu' ).innerHTML = n
                    document.getElementById( span + '-' + n ).innerHTML = obj2

            }


	}







        function ADDIMG(vmid, imgid) {
              console.log(vmid, imgid)
              fetch(location.protocol + '//' + location.host + '/api?add=IMGVM',
                {
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                method: "POST",
                body: JSON.stringify({
                    vmid: vmid,
                    imgid: imgid
                    })
                })
            .then((res) => res.json())
            .then((data) => result(data));

            function result( data ) {
                //document.getElementById( span ).innerHTML = `
                //1111        `
                //        LISTVM(span)
                }
	}



        function CREATEVM(span, id) {
            //imageid = document.getElementById( 'addimgid' ).value;
            name = document.getElementById( 'newvmname-' + id ).value;
           
            var div = document.getElementById("nn");
            var spans = div.getElementsByTagName("span");

            for(i=0;i<spans.length;i++)
            {
                 nnn=spans[i].innerHTML
            }
            img = ''
            imgid = 'addimgid-1'
            for(i=0;i<nnn.length;i++) {
                imageid = document.getElementById( imgid ).value;
                //img.push(imageid)
                if ( img != '' ) { img += ', ' }
                img += imageid
                console.log(i + " : " + imageid)
                imgid = imgid + "1"
            }
            console.log(img)
            imageid = img
            fetch(location.protocol + '//' + location.host + '/api?add=CREATEVM',
                {
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                method: "POST",
                body: JSON.stringify({
                    id: id,
                    name: name,
                    imageid: imageid
                    })
                })
            .then((res) => res.json())
            .then((data) => result(data));

            function result( data ) {
                document.getElementById( span ).innerHTML = `
                1111        `
                        LISTVM(span)
                }
            
        }


	function GETHDD(span) {
	    fetch( location.protocol + '//' + location.host + '/api?list=HDD')
            .then((res) => res.json())
            .then((data) => list(data));

            function list( datas ) {
                var hdd= '<select id="s' + span + '">'
                for(var t = 0; t < datas.length; t++) {
                    data = datas[t]
                    hdd += '<option value=' + data['id'] + '>file=' + data['file'] + ',size=' + data['size'] + ',format=' + data['format'] + ',cache=' + data['cache'] + ',aio=' + data['aio'] + '</option>'
                    //console.log(data['file'] + data['size'] + data['format'] + data['cache'] + data['aio'])
                }
            hdd += '</select>'
            document.getElementById(span).innerHTML = hdd
            }
            //hdd += '</select>'
            //console.log(hdd)
            //document.getElementById(span).innerHTML = 'hdd'
	}




<!--

	function CRTVM(span, lst) {
            hdd=document.getElementById('sHDD').value
	    list = lst.split(",")
            line = `<div style="padding: 5px;">
                        <div>Имя: <input id="conf1" required></input></div>
		        <div><textarea style="width: 577px; height: 172px;" id="conf2">-display none -enable-kvm `
            for(var i=0; i < (list.length - 1 ); i++) {
	        elem = list[i].replace(' ','')
                line += elem.replace('el','') + ' ' + document.getElementById(elem).value + ' '
            }
            //console.log(span + " : " + line)
            line += `</textarea></div>
                     <div><button onClick="STARTVM('${span}','conf1','conf2')">Запилить</button></div>
                     </div>
                    `
            document.getElementById( span ).innerHTML = line
	}






	function STARTVM(span, id1, id2) {
            console.log(document.getElementById('sHDD').value)

            name = document.getElementById(id1).value.replace(/ /g, "_")
	    //name.replace(/\s/g, '')
	    line = document.getElementById(id2).value
            config = '-name ' + name + ' ' + line
	    //console.log(config)

            fetch(location.protocol + '//' + location.host + '/api?add=VM',
                {
                headers: {
                   'Accept': 'application/json',
                   'Content-Type': 'application/json'
                },
                method: "POST",
                body: JSON.stringify({
                    vmname: name,
                    vmconfig: config
                    })
                })
            .then((res) => res.json())
            .then((data) => result(data));
            function result( data ) {
                document.getElementById( span ).innerHTML = `
                    Успешно создано:
                    ${data['vmname']}
                    <br>
                    `
                    LISTVM(span);
            }

            //create = ``
            //document.getElementById( span ).innerHTML = create


	    document.getElementById( span ).innerHTML = 'Готово!'
	}
-->
	function LISTCFG(span) {

	    fetch( location.protocol + '//' + location.host + '/api?list=ALLCFG')
            .then((res) => res.json())
            .then((data) => list(data));
            function list( data ) {
                obj2=`
<div class="divTable" >
    <div class="divTableBody">
        <div class="divTableRow">
            <div class="divTableCell">Имя</div>
            <div class="divTableCell">Значение</div>
            <div class="divTableCell">Удалить</div>
        </div>
`
                for(var t = 0; t < data.length; t++) {
                    //console.log(data[t])
                    obj2 += `
        <div class="divTableRow">
            <div class="divTableCell"><pre>${data[t]['name']}</pre></div>
            <div class="divTableCell">
                <pre><code>${data[t]['value'].replace(/[&<>"']/g, '.')}</code></pre>
            </div>
            <div class="divTableCell"><button onClick="DELCFG(${data[t]['id']},'${span}')">X</button></div>
        </div>
`
                }
               
                obj2 += `
     </div>
</div>

                    <div style="padding: 5px;">
                            Имя: <input id="CFGNAME" type="text"></input> 
                            Значение: <input id="CFGVALUE" type="text"></input>
                            <button onClick="CREATECFG('${span}', '2', document.getElementById('CFGNAME').value, document.getElementById('CFGVALUE').value);">Добавить</button>
                    </div>
                    <button onClick="SYNCCFG('${span}')">SYNC</button>
`
                document.getElementById( span ).innerHTML = obj2
            }
	}

        function SYNCCFG(span) {
            fetch( location.protocol + '//' + location.host + '/api?get=sync')
            .then((res) => res.json())
            .then((data) => list(data));
            function list( data ) {
               console.log(data)
            }
            LISTCFG(span);
        }

	function DELCFG(id, span) {
	    //console.log(id)

            fetch( location.protocol + '//' + location.host + '/api?del=CFG&id=' + id)
            .then((res) => res.json())
            .then((data) => list(data));
            function list( data ) {
                console.log(data)
            }




	    LISTCFG(span);        
	}


	function UPLOADISO(span) {

	    var list =  `
	        <form action="/upload" method="POST" enctype="multipart/form-data">
                    <input type="file" name="filename" />
                    <input type="submit" name="upload" value="UPLOAD" />
                </form>
                        `

            document.getElementById( span ).innerHTML = list


	}

	function ADDHDD(span) {
            fetch( location.protocol + '//' + location.host + '/api?list=CFG&name=drive')
            .then((res) => res.json())
            .then((data) => list(data));
            function list( data ) {
                //console.log(data.length)
                lst = data[0]['value'].split(",");
                conf = `<div class="divTable" style="max-width: 600px;">
                            <div class="divTableBody">`

                //but='<button onClick="CRTVM('
                butt = ''
                //let arr = [];
                for(var i = 0; i < lst.length; i++) {

                    //but += ` document.getElementById('el` + lst[i].replace(' ','') + `',).value,`
                    butt += 'el' + lst[i].replace(' ','') + ', '

                    var obj = lst[i].replace(/\s+/g, '')
                    //console.log(obj)
                    conf += `<div class="divTableRow">
                                 <div class="divTableCell" style="padding: 2px; text-align: right;">
                                     <span>${obj.replace("-","")}</span>
                                 </div>
                                 <div class="divTableCell">
                                     <span id="n${ obj }">[${ obj }]</span>
                                 </div>
                             </div>`
                    fetch( location.protocol + '//' + location.host + '/api?list=CFG&name=' + obj)
                    .then((res) => res.json())
                    .then((data) => list(data));
                    function list( data ) {
                        //arr = [];
                        obj2='<select id="el' + data[0]['name'] + '">'
                        for(var t = 0; t < data.length; t++) {
                            obj2 += '<option>' + data[t]['value'] + '</option>'
                            //console.log(data[t]['value'])
                            span2 = 'n' + data[t]['name']
                            //aname = data[t]['name']
                            //avalue = data[t]['value']
                            //arr+= aname;

                            //document.getElementById( span2 ).innerHTML = obj2
                        }
                        //console.log(obj2)
                        document.getElementById( span2 ).innerHTML = obj2 + '</select>'
                    }
                }

                conf += `
                        <div class="divTableRow">
                                 <div class="divTableCell" style="padding: 2px; text-align: right;">
                                     <span></span>
                                 </div>
                                 <div class="divTableCell">
                                     <button onClick="CRTHDD('` + span + `', '` + butt + `')">Создать vHDD</button>
                                 </div>
                             </div>

                        </div>
                    </div>

                    <div id="vhdd-list"></div>
                    `
		document.getElementById( span ).innerHTML = conf
                LISTHDD('vhdd-list')
            }
        }

        function LISTHDD(span) {
            fetch( location.protocol + '//' + location.host + '/api?list=IMAGES-ALL')
            .then((res) => res.json())
            .then((data) => listvhdd(data));

            function listvhdd( data ) {
                console.log(data)
                list = `<div class="divTable" style="max-width: 600px;">
                            <div class="divTableBody" style="padding: 2px; text-align: center;">
                                 `
                for(var f = 0; f < data.length; f++) {
                    console.log(data[f]['file'])
                    
                    list += `<div class="divTableRow">
                             <div class="divTableCell">${data[f]['file']}</div>
                             <div class="divTableCell"> ${data[f]['size']}</div>
                             <div class="divTableCell"> ${data[f]['cache']}</div>
                             <div class="divTableCell"> ${data[f]['aio']}</div>
                             <div class="divTableCell"> `  
                    if ( data[f]['vms'] == '0') {
                       list += `Свободный <button onClick="if (confirm('Вы действительно хотите удалить выбранные файл?')) DELHDD('${span}','${data[f]['id']}')">X</button>`
                    } else {
                       list += `Привязан к: ID${data[f]['vms']}`
                    }
                    list += '</div></div>'
                }
                list += `    </div>  
                             </div>`
                document.getElementById( span ).innerHTML = list
            }
	}



        function DELHDD( span, id ) {
            fetch( location.protocol + '//' + location.host + '/api?del=IMAGE&id=' + id)
            .then((res) => res.json())
            .then((data) => list(data));
            console.log(span)
            function list( data ) {
                console.log(data)
                 
            }
            ADDHDD('LAND');
        }

	    
	function CRTHDD(span, lst) {

            list = lst.split(",")
            //line = `<div style="padding: 5px;">
            //            <div>Имя: <input id="conf1" required></input></div>
            //            <div><textarea style="width: 577px; height: 172px;" id="conf2">-display none -enable-kvm `

            var jsonArr = [];
            //var jsn = "{ ";
            //var aaa = [];
            for(var i=0; i < (list.length - 1 ); i++) {
                elem = list[i].replace(' ','')
                //line += elem.replace('el','') + ' ' + document.getElementById(elem).value + ' '
                //console.log(list[i].replace(' ','').replace('el','') + ':' + document.getElementById(elem).value)
		qname = list[i].replace(' ','').replace('el','')
		value = document.getElementById(elem).value
                jsonArr.push({
                    name: qname,
                    value: value,
                });
                //adata[qname] = value
                //aaa += '' + elem + '' + ': ' + '' + value + ''
                //if ( i < (list.length - 2)) {
                //    aaa += ', '
                //}
                //console.log(aaa)
                //jsn += '"' + elem + '" : "' + value + '",';
            }
            //aaa += '';
            //jsn += " }";
            //console.log(aaa)
            var obj = jsonArr;
            console.log(jsonArr)

                 fetch(location.protocol + '//' + location.host + '/api?add=HDD',
                    {
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    method: "POST",
                    body: 
                         JSON.stringify({ obj })
                    })
                .then((res) => res.json())
                .then((data) => result(data));
                function result( data ) {
                    document.getElementById( span ).innerHTML = `
                        Успешно создано:
                        ${data['cfgname']}
                        <br>
                        ${data['cfgvalue']}
                        <br>
                        <button onClick="CREATECFG('CREATECFG','1');">CREATE CFG</button>
                        `
                        ADDHDD(span)
                }
	}

        function SHOWSETS(span, st) {
            if (st == '0') {
                document.getElementById( span ).innerHTML = `
                <div style="border: 0px; background: #691a16; opacity: .6; border-radius: 5px; padding: 3px;">
                    <div id="ADDHDD"><button onClick="ADDHDD('LAND');"><i class="fa fa-hdd-o" aria-hidden="true"></i> Создать vHDD</button></div>
                    <div id="VMCREATE"><button onClick="GETCFGVM('LAND')"><i class="fa fa-server" aria-hidden="true"></i> Создать VM</button></div>
                    <div id="LISTCFG"><button onClick="LISTCFG('LAND');"><i class="fa fa-cogs" aria-hidden="true"></i> Служебные переменные</button></div>
                    <button onClick="SHOWSETS('SETS','1')"><i class="fa fa-times" aria-hidden="true"></i></button> 
               </div>`
            } else {
                document.getElementById( span ).innerHTML = `<button onClick="SHOWSETS('SETS','0')"><i class="fa fa-sliders" aria-hidden="true"></i></button>`
            }
        }


    </script>

</head>
<body>
<div style="background: #f0f0f0; border-radius: 15px; padding: 10px; max-width: 800px; height: 91%; overflow: auto; margin:0 auto;">
    <div>
        <div id="TITLE">TITLE</div>
<!--        <div id="HVSTATUS">HVSTATUS</div>-->
    </div>
<!--    <hr>-->
    <div id="GN" class="container">
        <div class="box">
            <div style="padding: 7px;">
<!--            <div id="ADDHDD"><button onClick="ADDHDD('LAND');">Создать vHDD</button></div>-->
<!--            <div id="VMCREATE"><button onClick="GETCFGVM('LAND')">Создать ВМ</button></div>-->
                <div id="LISTVM"><button onClick="LISTVM('LAND')"><i class="fa fa-server" aria-hidden="true"></i> Список ВМ</button></div>
                <div id="LISTVM"><button onClick="HVSTATUS('LAND')"><i class="fa fa-heartbeat" aria-hidden="true"></i> Статус системы</button></div>
<!--            <div id="CREATECFG"><button onClick="CREATECFG('LAND','1');">Добавить переменную</button></div>-->
<!--            <div id="LISTCFG"><button onClick="LISTCFG('LAND');">Список переменных</button></div>-->
<!--            <div id="UPLOADISO"><button onClick="UPLOADISO('LAND');">Upload ISO</button></div>-->
<!--            <div id="ADDHDD"><button onClick="ADDHDD('LAND');">ADD HDD</button></div>-->
            </div>

            <div id="SETS">
                <button onClick="SHOWSETS('SETS','0')"><i class="fa fa-sliders" aria-hidden="true"></i></button>
            </div>
<!--            <div style="border: 0px; background: #691a16; opacity: .6; border-radius: 5px; padding: 3px; position: absolute; right: 3px; top: 19px;">-->
<!--                <div id="ADDHDD"><button onClick="ADDHDD('LAND');">Создать виртуальный диск</button></div>-->
<!--                <div id="VMCREATE"><button onClick="GETCFGVM('LAND')">Создать вирутальную машину</button></div>-->
<!--                <div id="LISTCFG"><button onClick="LISTCFG('LAND');">Служебные переменные</button></div>-->
<!--            </div>-->

        </div>
    </div>
<!--    <hr>-->
    <div id="LAND" style="padding: 10px; border-radius: 10px;">* * *</div>
<!--    <hr>-->
</div>
<div style="padding: 10px; max-width: 800px; height: auto; overflow: auto; margin:0 auto;">
    <p id="FOOTER" align="center">
        #{{ site_name }} @ 2022
    </p>



<script>
    //HVSTATUS('HVSTATUS');
    //GETCFGVM('VMCREATE')
    LISTVM('LAND')

    document.body.style.background = '#ffffff';

    //document.querySelectorAll('button').forEach(e => e.style.color = "#66a5ad");
    //document.querySelectorAll('button').forEach(e => e.style.background = "#003b46");
    //document.querySelectorAll('button').forEach(e => e.style.#font = "12px tahoma,serif");

    var LISTCFG5 = document.getElementById('LAND')
    LISTCFG5.style.font = "0.75rem Noto Sans";
    LISTCFG5.style.color='#303030';
    LISTCFG5.style.background = '#fafafa'

    var footer = document.getElementById('FOOTER')
    footer.style.font = "12px tahoma,serif";
    footer.style.color='#303030';
    //footer.style.background = '#c4dfe6'

    //var LISTCFG2 = document.getElementById('GN')
    //LISTCFG2.style.font = "italic bold 12px arial,serif";
    //LISTCFG2.style.color='#07575b';
    //LISTCFG2.style.background = '#c4dfe6'

    //var LISTCFG3 = document.getElementById('VMCREATE')
    //LISTCFG3.style.font = "italic bold 12px arial,serif";
    //LISTCFG3.style.color='#303030';
    //LISTCFG3.style.background = '#c4dfe6'

    //console.log(document.getElementById('TITLE').value)

    //var LISTCFG1 = document.getElementById('LISTCFG')
    //LISTCFG1.style.font = "italic bold 12px arial,serif";
    //LISTCFG1.style.color='#303030';
    //LISTCFG1.style.background = '#691a16'


    GETCFG('TITLE', 'TITLE');
    var TITLE = document.getElementById('TITLE')
    TITLE.style.font = "20px tahoma,serif";
    TITLE.style.padding = '10px'
    TITLE.style.borderRadius = "20px";
    TITLE.style.background = '#691a16'
    TITLE.style.color='#fca326';

</script>


</div>
</body>
</html>


