.container{overflow:hidden;width:auto}
.box{white-space:nowrap}
.box div{width:auto;display:inline-block}

/* DivTable.com */
.divTable{
        border:1px solid #691a16;
        border-radius: 10px;
        padding: 7px;
	display: table;
	width: 98%;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
/*	background-color: #EEE;*/
	display: table-header-group;
}
.divTableCell, .divTableHead {
/*	border: 0px solid #999999;*/
	display: table-cell;
	padding: 3px 10px;
}
.divTableHeading {
/*	background-color: #EEE;*/
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
/*	background-color: #EEE;*/
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}


pre {
	overflow: auto;
        font-size: x-small;
/*	background: #e0e0e4;*/
	color: #7e0e0e;

}

button {
border-width: 0;
padding-top: 0.5rem;
padding-bottom: 0.5rem;
padding-left: 0.75rem;
padding-right: 0.75rem;
background-color: transparent;
line-height: 1rem;
color: #303030;
fill: currentColor;
box-shadow: inset 0 0 0 1px #bfbfbf;
justify-content: center;
align-items: center;
font-size: 0.65rem;
border-radius: 0.25rem;

}

button {
  display: inline-block;
  color: #323232;
/*  font-size: 12px;*/
/*  font-weight: 700;*/
  cursor: pointer;
  text-decoration: none;
  user-select: none;
  padding: .25em .5em;
  outline: none;
  border: 0px solid;
  border-radius: 3px;
  background: #e0e0e4;
  box-shadow: inset 0 -2px 1px rgba(0,0,0,0), inset 0 1px 2px rgba(0,0,0,0), inset 0 0 0 60px rgba(255,255,0,0);
  transition: box-shadow .2s, border-color .2s;
} 
button:hover {
  border: 2px;
  box-shadow: inset 0 -1px 1px rgba(0,0,0,0), inset 0 1px 2px rgba(0,0,0,0), inset 0 0 0 60px rgba(255,255,0,.5);
}
button:active {
  padding: calc(.25em + 1px) .5em calc(.25em - 1px);
  border-color: rgba(177,159,0,1);
  box-shadow: inset 0 -1px 1px rgba(0,0,0,.1), inset 0 1px 2px rgba(0,0,0,.3), inset 0 0 0 60px rgba(255,255,0,.45);
}
